<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <img width="300" mat-card-image [src]="imageUrl">
  <mat-card-content>
    <ng-content select="div"></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button>
      <div fxLayout="row" fxLayoutAlign="center center"><mat-icon>shopping_basket</mat-icon>Buy</div>
    </button>
    <ng-content select="button"></ng-content>
  </mat-card-actions>
</mat-card>
