<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <app-card *ngFor="let product of products" [title]="product.name" [imageUrl]="product.imageUrl"
            [titleTemplate]="product.isOnSale ? specialHeader : undefined" [titleTemplateCtx]="product.isOnSale ? {title: product.name} : undefined">
    <div class="details" fxLayout="column">
      <div fxFlex>
        <p class="description">{{product.description | uppercase}}</p>
        <ng-container [ngSwitch]="product.type">
          <ng-container *ngSwitchCase="type.CACTUS_FAMILY">
            <p>{{product.story}}</p>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon>people</mat-icon><div>{{product.membersCount}}</div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="type.EMBROIDERY">
            <p>{{product.contentDescription}}</p>
          </ng-container>
          <ng-container *ngSwitchCase="type.KNITTED_ANIMAL">
            <div>{{product.animalType}}</div>
          </ng-container>
        </ng-container>
      </div>
      <mat-chip-list fxFlex="none"><mat-chip>{{product.price}}HUF</mat-chip></mat-chip-list>
    </div>
    <button mat-stroked-button>
      <div fxLayout="row" fxLayoutAlign="center center"><mat-icon color="warn">favorite</mat-icon>Like</div>
    </button>
  </app-card>
</div>

<ng-template #specialHeader let-title="title">
  <div>{{title | uppercase}}<sup>SALE</sup></div>
</ng-template>

